*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family:"Poppins", sans-serif;
    background-color: rgb(232, 232, 232);
}
  
.form{
    background-image: linear-gradient(#8a8a8a, #3a3a3a);
    width: 400px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    padding: 100px 50px;
    box-shadow: 30px 30px 50px #1b1b1b;
}
  
  
.icon{
    position: absolute;
    top: 50px;
    right: 50px;
    color: #ffff;
    cursor: pointer;
}

.form h1{
    color: #ffff;
    text-shadow: 1px 1px 3px #093d1d;
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 2rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffff;
    margin-bottom: 1rem;
    font-style: oblique;
    font-size: 0.8rem;
    border-bottom: 0.5px solid #ccdaff;
}
.inputs:hover{
    border-bottom: 3px solid #ffff;
    transition: 0.1s ease-in-out;
}

#email, #email::placeholder{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgb(212, 212, 212);
    margin-top: 0.8rem;
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
}

#password, #password::placeholder{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgb(212, 212, 212);
    margin-top: 0.8rem;
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
}

#password2, #password2::placeholder{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgb(212, 212, 212);
    margin-top: 0.8rem;
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
}

.button{
    width: 80%;
    background: white;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    color: #0145ff;
    outline: none;
    text-emphasis:inherit;
}

.button:hover{
    cursor: pointer;
    width: 80%;
    background: none;
    border: 2px solid #ffff;
    border-radius: 20px;
    padding: 12px 12px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    color: #ffff;
    outline: none;
    text-emphasis:inherit;
}

.form p{
    color: #ffff;
    font-size: small;
    opacity: 80%;
}

